*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
}

 /* Center the loading bar container */
 .loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Custom styles for the progress bar */
.custom-progress-bar {
    position: relative;
    width: 300px;
    height: 20px;
    background-color: #f5f5f5;
}

.custom-progress-bar .progress-bar {
    background-color: #007bff;
}

/* Style for the logo */
.logo {
    width: 100px; /* Adjust the logo size as needed */
    height: auto;
    margin-bottom: 20px;
}

.logo{
    height: 90px;
}

.bg-custom{
    background-color: #293d45; 
}


.header{
    min-height: 100vh;
    background-image: linear-gradient(#1c1c1c64,#1c1c1c64),url('../img/background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card1{
    background-color:#0d0c0ce8;
}
